{% schema %}
{
  "name": "Twitter Connect",
  "target": "body",
  "stylesheet": "twitter-popup.css",
  "javascript": "twitter-popup.js",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Connect Twitter"
    }
  ]
}
{% endschema %}

<div class="twitter-widget" id="twitter-widget-{{ block.id }}">
  <!-- Floating Button -->
  <button type="button" class="twitter-floating-button" onclick="openTwitterPopup()">
    <span class="twitter-icon">🐦</span>
    {{ block.settings.button_text }}
  </button>

  <!-- Popup Dialog -->
  <dialog id="twitter-popup" class="twitter-popup">
    <div class="twitter-popup__content">
      <div class="twitter-popup__header">
        <h3>Connect Your Twitter Profile</h3>
        <button type="button" class="close-button" onclick="closeTwitterPopup()">&times;</button>
      </div>
      
      <div class="twitter-popup__body">
        <p>Enter your Twitter profile URL to get personalized product recommendations</p>
        <form id="twitter-form" class="twitter-form">
          <input 
            type="text" 
            id="twitter-url" 
            name="twitter-url" 
            placeholder="https://twitter.com/your_handle"
            required
          >
          <button type="submit" class="submit-button">
            Get Recommendations
          </button>
        </form>
      </div>
    </div>
  </dialog>
</div>